<section class="contato" id="contato">

    <div class="container">

        <div class="cabecalho-secao">

            <h2>
                {{ traducao.obterTraducoes().contato.titulo }}
            </h2>

            <p>
                {{ traducao.obterTraducoes().contato.apresentacao }}
            </p>

        </div>


        <div class="contato-conteudo">

            <!-- E-mail -->
            <article class="contato-card">

                <i class="bi bi-envelope"></i>

                <div>

                    <span>
                        {{ traducao.obterTraducoes().contato.email }}
                    </span>

                    <a href="mailto:igormello399@gmail.com">
                        igormello399@gmail.com
                    </a>

                </div>

            </article>


            <!-- LinkedIn -->
            <article class="contato-card">

                <i class="bi bi-linkedin"></i>

                <div>

                    <span>
                        {{ traducao.obterTraducoes().contato.linkedin }}
                    </span>

                    <a href="https://www.linkedin.com/in/igor-mota-de-mello-20b1b6266/" target="_blank"
                        rel="noopener noreferrer">
                        LinkedIn
                    </a>

                </div>

            </article>


            <!-- GitHub -->
            <article class="contato-card">

                <i class="bi bi-github"></i>

                <div>

                    <span>
                        {{ traducao.obterTraducoes().contato.github }}
                    </span>

                    <a href="https://github.com/igormota22" target="_blank" rel="noopener noreferrer">
                        GitHub
                    </a>

                </div>

            </article>


            <!-- Localização -->
            <article class="contato-card">

                <i class="bi bi-geo-alt-fill"></i>

                <div>

                    <span>
                        {{ traducao.obterTraducoes().contato.localizacao }}
                    </span>

                    <strong>
                        Lages - SC, Brasil
                    </strong>

                </div>

            </article>

        </div>


        <!-- Disponibilidade -->
        <div class="contato-disponibilidade">

            <i class="bi bi-check-circle"></i>

            <span>
                {{ traducao.obterTraducoes().contato.disponibilidade }}
            </span>

        </div>

    </div>

</section>