<nav class="navbar navbar-expand-lg bg-secondary fixed-top">
    <div class="container">

        <a class="navbar-brand text-light fw-medium fst-italic" routerLink="/">
            Igor Mota Mello
        </a>
        <div class="seletor-idioma">
            <i class="bi bi-translate"></i>

            <select [value]="traducao.idioma()" (change)="alterarIdioma($any($event.target).value)">

                <option value="pt">🇧🇷 Português</option>
                <option value="en">🇺🇸 English</option>
                <option value="es">🇪🇸 Español</option>

            </select>

            <i class="bi bi-chevron-down"></i>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                @for (item of itens; track $index) {

                <li class="nav-item">

                    <a class="nav-link text-light" [href]="item.url">

                        <i class="bi {{ item.icone }}"></i>

                        {{ traducao.obterTraducoes().navbar[item.titulo] }}

                    </a>

                </li>

                }

            </ul>

        </div>
    </div>
</nav>