<section class="sobre py-5" id="sobre">
    <div class="container">

        <div class="sobre-conteudo mx-auto">

            <div class="foto-sobre">
                <div class="foto-background"></div>

                <img src="/images/Igor-Foto.jpeg" alt="Igor Mello" class="foto-perfil">
            </div>

            <span class="text-uppercase fw-semibold text-primary">
                Sobre mim
            </span>

            <h2 class="fw-bold mt-2 mb-3">
                Olá, eu sou
                <span class="texto-gradiente">Igor Mota De Mello.</span>
            </h2>

            <p class="fs-5 lh-lg mb-4">
                Sou <strong class="texto-gradiente">Técnico em Informática</strong>
                e desenvolvedor de software em formação.
            </p>

            <p class="fs-5 text-secondary lh-lg mb-4">
                Estou construindo minha carreira na área de tecnologia,
                com foco no desenvolvimento de aplicações e no aprendizado
                contínuo. Gosto de transformar ideias em projetos e
                desafios em novas oportunidades para evoluir.
            </p>

            <p class="fs-5 text-secondary lh-lg">
                Atualmente, direciono minha trajetória para o desenvolvimento
                <strong class="text-light">Full Stack</strong>, buscando
                ampliar minha experiência tanto no desenvolvimento de
                aplicações quanto na construção de interfaces.
            </p>

            <div class="contato-sobre mt-4 pt-4">
                <div class="d-flex flex-wrap gap-4">
                    <a href="mailto:igormello399@gmail.com" class="contato-link">
                        <i class="bi bi-envelope"></i>
                        <span>igormello399@gmail.com</span>
                    </a>

                    <a href="https://github.com/IgorMota22" target="_blank" rel="noopener noreferrer"
                        class="contato-link">
                        <i class="bi bi-github"></i>
                        <span>IgorMota22</span>
                    </a>
                    <a href="https://www.linkedin.com/in/igor-mota-de-mello-20b1b6266/" target="_blank"
                        rel="noopener noreferrer" class="contato-link">
                        <i class="bi bi-linkedin"></i>
                        Igor Mota de Mello</a>
                </div>
            </div>

        </div>

    </div>
</section>