<section class="sobre py-5" id="sobre">
    <div class="container">

        <div class="sobre-conteudo mx-auto">

            <div class="foto-sobre">
                <div class="foto-background"></div>

                <img src="/images/Igor-Foto-3.png" alt="Igor Mello" class="foto-perfil">
            </div>

            <span class="text-uppercase fw-semibold text-primary">
                {{ traducao.obterTraducoes().sobre.titulo }}
            </span>

            <h2 class="fw-bold mt-2 mb-3">

                {{ traducao.obterTraducoes().sobre.apresentacao.inicio }}

                <span class="texto-gradiente">
                    {{ traducao.obterTraducoes().sobre.apresentacao.destaque }}
                </span>

            </h2>

            <p class="fs-5 lh-lg">

                {{ traducao.obterTraducoes().sobre.conteudo.inicio }}

                <span class="texto-gradiente">
                    {{ traducao.obterTraducoes().sobre.conteudo.destaque }}
                </span>

                {{ traducao.obterTraducoes().sobre.conteudo.meio }}

                <span class="text-primary">
                    {{ traducao.obterTraducoes().sobre.conteudo.destaque2 }}
                </span>

                {{ traducao.obterTraducoes().sobre.conteudo.fim }}

            </p>

            <div class="contato-sobre mt-4 pt-4">
                <div class="d-flex flex-wrap gap-4">

                    <a class="contato-link">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>Lages - SC</span>
                    </a>

                    <a href="mailto:igormello399@gmail.com" class="contato-link">

                        <i class="bi bi-envelope"></i>
                        <span>igormello399@gmail.com</span>

                    </a>

                    <a href="https://www.linkedin.com/in/igor-mota-de-mello-20b1b6266/" target="_blank"
                        rel="noopener noreferrer" class="contato-link">

                        <i class="bi bi-linkedin"></i>
                        <span>LinkedIn</span>

                    </a>

                    <a href="https://github.com/IgorMota22" target="_blank" rel="noopener noreferrer"
                        class="contato-link">

                        <i class="bi bi-github"></i>
                        <span>GitHub</span>

                    </a>

                </div>
            </div>



        </div>

    </div>
</section>